@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Epilogue', sans-serif;
    box-sizing: border-box;
}

.head {
    /* background-color: red; */
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

#logo {
    margin-left: 10px;
    cursor: pointer;
}

nav {
    margin-left: -600px;
    display: flex;
    justify-content: space-around;
    width: 32%;

}

nav li{
    list-style-type: none;
    margin: 10px 0;

}

nav li a {
    text-align: center;
    text-decoration: none;
    color: hsl(0, 0%, 41%);
}

nav li a:hover {
    color: hsl(0, 0%, 8%);
}

button {
    background: transparent;
    border: 0;
    padding: 7px;
}

.log_reg {
    margin: 0 30px 0 0;
}

#login {
    cursor: pointer;
    color: hsl(0, 0%, 41%);
}

#login:hover {
    color: hsl(0, 0%, 8%);

}

#register {
    color: hsl(0, 0%, 41%);
    border-radius: 10px;
    border: 1px solid hsl(0, 0%, 41%);
    text-align: center;
    margin-left: 30px;

}

#register:hover {
    color: hsl(0, 0%, 8%);
    border: 1px solid hsl(0, 0%, 8%);
    cursor: pointer;
}

.midd_section {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.left_side {
    /* border: 5px solid #000000; */
    height: auto;
    margin: auto;
    /* transform: translate(-50%, -50%); */ 
}

.right_side {
    /* border: 5px solid #000000; */
    width: 60%;
    /* height: 100vh; */
    margin: auto 50%;
    transform: translate(-50%, 5%);
}

.right_side img {
    height: 100%;
    width: 100%;
}

.right_bottom {
    /* border: 5px solid #000000; */
    margin: -20px auto auto 70px;
    /* margin-left: auto; */
    /* padding: 20px; */
}

.right_bottom img {
    padding: 0 20px;
}

.left_side h1 {
    font-size: 5rem;
    line-height: .9;
}

.left_side p {
    margin: 40px 0;
    font-size: .9rem;
}

#learn_more_btn {
    background-color: black;
    color: #fff;
    border-radius: 10px;
    padding: 15px 25px;
    font-size: 1rem;
    cursor: pointer;
    border: 1px solid black;
}

#learn_more_btn:hover {
    background-color: #fff;
    color: #000000;
    border: 1px solid #000000;
}